/* Estilos básicos del menú */

.menu-perfil {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.menu-perfil li {
    position: relative;
}

.menu-perfil li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.menu-perfil li a:hover {
    background-color: #696565;
}

/* Estilos del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--modern-warm-primary-active);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content li {
    padding: 12px 16px;
    list-style: none;
}

.dropdown-content li a {
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    color: #f1f1f1;
}

/* Mostrar el dropdown al pasar el mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Asegura que el contenido del dropdown se alinee con el botón */
.dropdown-content {
    top: 100%;
    right: 0;
}
