#map {
    height: 70%;
    width: 80%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(40, 38, 38, 0.95);
}